body {
    background-color: lightblue;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

#testdiv {
    color: blue;
    width: 360px;
    margin: 40px auto 40px auto;
    padding-right: 20px;
    border-style: dotted;
    text-align: left;
}

li:hover {
    font-size: 20px;
    color: white;
    background-color: blue;
    text-shadow: 2px 2px 0px #666666;
}

#dogdiv {
    width: 400px;
    height: 400px;
    margin: 40px auto 40px auto;
    background-image: url('https://images.blogthings.com/therescuedogtest/dog-5.jpg');
}
html {cursor: pointer;}
