img.img-responsive{width: 320px; height: 190px;}
#profile {width: auto; height: 1; border-color: rgb(255, 255, 255); border: solid;}
header {background-color: rgb(83, 186, 237)}
hr.star-light:after {
  background-color: rgb(83, 186, 237);
  color: white;}
section.success {
  background: rgb(83, 186, 237);
  color: white;}
.btn-success{border-color: rgb(83, 186, 237);
            background-color: rgb(83, 186, 237);}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: white;
  background-color: rgb(73, 176, 227);
  border-color: rgb(66, 169, 221);}

  .btn-success.disabled,
  .btn-success[disabled],
  fieldset[disabled] .btn-success,
  .btn-success.disabled:hover,
  .btn-success[disabled]:hover,
  fieldset[disabled] .btn-success:hover,
  .btn-success.disabled:focus,
  .btn-success[disabled]:focus,
  fieldset[disabled] .btn-success:focus,
  .btn-success.disabled:active,
  .btn-success[disabled]:active,
  fieldset[disabled] .btn-success:active,
  .btn-success.disabled.active,
  .btn-success[disabled].active,
  fieldset[disabled] .btn-success.active {
    background-color: rgb(73, 176, 227);
    border-color: rgb(66, 169, 221);}
  }
  .btn-success .badge {
    color: rgb(83, 186, 237);
    background-color: white;}
  #git{color: white; text-decoration: underline;}
  .navbar-custom .navbar-nav li a:hover {
    color: rgb(83, 186, 237);
    outline: none;
  }
  .navbar-custom .navbar-nav li.active a {
    color: white;
    background: rgb(83, 186, 237);}

.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: white;
  background: rgb(73, 176, 227);}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color:rgb(83, 186, 237);
  color: white;
  border-color: rgb(66, 169, 221);}

#portfolio .portfolio-item .portfolio-link .caption {
  background: rgba(83, 186, 237, 0.9);}